@page
@model SistemaFinanceiroUGB232.Views.Apoio.EmpresaModel
@{
    ViewBag.Title = "Controle de Empresas";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1> Empresa</h1>


    <p>Cadastro de Empresa </p>

</body>
</html>


