@{
    ViewBag.Title = "Contato";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1> Contato</h1>
    <h2> Sua página de contato</h2>

    <p>R. Dep. Geraldo Di Biase, 81 - Aterrado, Volta Redonda - RJ,<br /> 27213-080<br />Telefone: (24) 3345-1700</p>

    <p><strong>Suporte:</strong> suportesistema@ugb.edu.br<br /><strong>Marketing:</strong> reitoria@ugb.edu.br </p>
    

    <img src="http://www2.ugb.edu.br/Conteudo/unidades/vr1.jpg" alt="Imagem de Contato">
</body>
</html>

